/* Reset CSS */
@import url("reset.css");

:root {
  --branco-principal: #FFFFFF;
  --cinza-secoundario: #C0C0C0;
  --botao-azul: #167BF7;
  --cor-de-fundo: #00030C;

  --font-principal: 'Inter', sans-serif;

  --botao-azul-efeito: #3C92FA;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);

  font-family: var(--font-principal);
  font-size: 1rem;
  font-weight: 400;
}

.container__caixa {
  margin: 0 6em;
}


.principal {
  background-image: url(../img/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 48% 52%;
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__imagem {
  margin: 1rem 0 2rem 0;
}

.container__botao {
  background-color: var(--botao-azul);
  color: var(--branco-principal);

  border-radius: 5px;

  padding: 1rem;
  margin-bottom: 1rem;

  display: block;
  text-align: center;

  /* box-sizing: border-box; */
}

.container__botao:hover{
  background-color: var(--botao-azul-efeito);
}

.container__aviso {
  font-size: 12px;
  
  color: var(--cinza-secoundario);
}

.botao_secundario {
  background-color: transparent;

  border: 2px solid var(--branco-principal);
}

.secundario {
  align-items: center;
  margin: 0 10rem;
}

.secundario__imagem {
  width: 80%;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--branco-principal);
  margin-bottom: .5rem;
}

.descricao__texto {
  color: var(--cinza-secoundario);
}

.secundario__botao {
  display: inline-block;
  margin-top: 1rem;
}

.container__descricao {
  padding: 4rem;
}

.dispositivos {
  text-align: center;
}

.dispositivos__lista {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.dispositivos__titulo {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 1.375rem;
  color: var(--branco-principal);
}

.lista__item {
  font-size: 32px;
  font-weight: 700;
  color: var(--branco-principal);
}

.rodape {
  text-align: center;
  margin-bottom: 5rem 3em;
}

.rodape__imagem {
  margin: 2rem 0;
}

.rodape__lista {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.rodape__lista--item {
  margin-left: 1rem;
}

.rodape__texto {
  font-size: 14px;
  font-weight: 400;
  color: var(--cinza-secoundario);

  line-height: 21px;
  margin: 1rem 0;
}

.rodape__lista--item:hover {
  color: var(--botao-azul);
}

.rodape__lista--item:active {
  color: var(--cinza-secoundario);
}
